<!DOCTYPE html>
<html>
<head>
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="{{ asset('styles/font.css') }}">
   <link rel="stylesheet" href="{{ asset('styles/style.css') }}"/>
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>